#root {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

p,h2,h3 {
  margin: 0;
  word-break: break-word;
}

.result-icon {
  height: 100px;
  width: 100px;
  place-content: center;
}

.result-icon>svg {
  scale: 4;
}

section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px 20px 20 0px;
}
section.sent-message {
  height: 200px;
}

.message-form {
  width: 100%;
}
.message-form>textarea {
  width: 100%;
  padding: 0.2em 0.5em 0.2em 0.5em; 
  font-size: 1em;
  box-sizing: border-box;
  font-family: inherit;
  resize: none;
}
textarea::placeholder {
  text-align: center;
  color: rgb(211, 211, 211);
}


